.order-card {
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
}

.order-card__number {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.order-card__status {
  align-items: center;
  background-color: orange;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
}

.order-card__price {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  gap: 5px;
}

.order-card__price span:nth-child( 1 ) {
  font-size: 0.9rem;
}

.order-card__right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
